// color

$white:#fff;
$primary-color:#0a46c8;
// headline
$headline-font-weight:$font-weight-bold;
$headline-sm-font-size:16px;
$headline-lg-font-size:20px;
$headline-background:$primary-color;
$headline-border-color:$white;
$headline-font-color:$white;
$headline-height:45px;

$headline2-sm-font-size:20px;
$headline2-font-weight:700;
$headline2-lg-font-size:24px;
$headline2-font-color:$primary-color;
