@charset "utf-8";

// common --------------------------------------------
body {
  font-family: Arial, Helvetica, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  font-size: 12px;
  line-height: 1.5;
  color: #000;
  text-align: left;
}

// import --------------------------------------------

// @import "layout2015";

// @import "reset2016";
// @import "layout2016";

// @import "reset2017";
