
.wrap.campaign_page {
  width: 100%;
  padding: 0 0;

  @include screen-up(lg){
    width: 100%;
    max-width: 100%;
    padding: 0 0;
  }
}

//content
.post_contents {
  &.contents_support-campain {
    @include screen-up(lg){
      margin-bottom:$base-margin * 4;
    }
  }

  * {
    box-sizing: border-box;
  }

  img {
    width: auto;
    max-width:100% ;
    height: auto;
  }

  section {
    max-width: $frame-max-width;
    padding: ($base-margin * 2) ($base-margin * 1.5) ;
    margin: $base-margin * 2 auto 0;
    overflow: hidden;
    clear: both;
    text-align: center;


    @include screen-up(lg){
      max-width: $frame-max-width;
      padding: 0 ($base-margin);
      margin: ($base-margin * 4.5) auto 0;
    }


    .flow-box {
      position: relative;
      z-index: 1;
      padding: $base-margin * 1.5;
      margin-top: - ($base-margin * 0.5);
      border: 2px solid $base-gray-700;
      border-radius: $base-margin;

      @include screen-up(lg){
        padding: $base-margin * 2.5;
      }
    }
  }


  .hero-box {
    background: url(../original/img/campaign/series/bg_type01.png);
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: auto 100% ;

    @media (min-width: 760px) {
      background-position: -50% 0;
      background-size: 100% auto;
    }

    @include screen-up(lg){
      background: url(../original/img/campaign/series/bg_type01_long.png);
      background-repeat: no-repeat;
      background-position: center 0;
      background-size: 100% auto;
    }
  }

  .hero-element {
    padding: ($base-margin * 2.5) $base-margin;
    padding-bottom: $base-margin * 2.5;
    text-align: center;


    h1 {
      position: relative;
      text-align: center;

      img {
        margin-right: auto;
        margin-left: auto;
      }
    }

    dl {
      display: inline-flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding:$base-margin;
      margin:($base-margin) 0 0;
      color: $white;
      background: $base-gray-900;
      border-radius: $base-margin * 0.5;

      @include screen-up(md){
        flex-direction: row;
        width:auto;
        // width: $base-margin * 35;
      }

      $size: 32%;

      * {
        font-size:$base-font-size-sm;
        font-weight: $font-weight-bold;

        @include screen-up(md){
          font-size: $base-font-size;
        }
      }

      dt {
        position: relative;
        margin: 0;

        @include screen-up(md){
          // width: $size;
          padding-right: 32px;

          &::after {
            position: absolute;
            top:0;
            right: 16px;
            display: inline-block;
            width: 1px;
            height: 100%;
            margin-left: $base-margin;
            content: "";
            background: $white;
          }
        }
      }

      dd {
        margin: 0;
      }
    }

    .spN {
      display: none;

      @include screen-up(md){
        display: block;
      }

      @include screen-up(lg){
        display: block;
      }
    }

    .pcN {
      @include screen-up(md){
        display: none;
      }

      @include screen-up(lg){
        display: none;
      }
    }
  }

  .row {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: $base-margin * 2;
    text-align: left;

    @include screen-up(md){
      flex-direction: row;
    }

    $left-size:44%;

    .col1 {
      text-align: center;

      @include screen-up(md){
        width: $left-size;
        text-align: left;
      }

      img {
        @include screen-up(md){
          width:90%;
        }

        @include screen-up(lg){
          width:72%;
        }
      }
    }

    .col2 {
      @include screen-up(md){
        width: calc(100% - #{$left-size});
      }
    }
  }

  .present {
    position: relative;
    padding-top: $base-margin * 2;
    margin-top: $base-margin * 2;
    border-top: 1px solid $base-gray-300;

    &::before {
      $height-size:40px;
      $width-size:100px;

      position: absolute;
      top:0;
      left: 50%;
      display: block;
      width: 0;
      height: 0;
      margin-left:- ($width-size / 2);
      content: "";
      border-color: $base-gray-300 transparent transparent transparent;
      border-style: solid;
      border-width: $height-size ($width-size / 2) 0 ($width-size / 2);
    }
  }

  // headline
  .headline {
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    display: inline-block;
    width:calc(100% - #{$base-margin * 1.5});
    height: $headline-height;
    margin-right: auto;
    margin-left: auto;
    font-size:$headline-sm-font-size;
    font-weight: $headline-font-weight;
    color:$headline-font-color;
    text-align: center;

    @include screen-up(md){
      width: auto;
    }

    &::before {
      position: absolute;
      bottom: -22px;
      left: -11px;
      z-index: -2;
      width: 6px;
      // 左側のリボン端
      content: '';
      border: 22px solid $headline-background;
      border-left-color: transparent; // 山形に切り抜き

      @include screen-up(md){
        left: -35px;
      }
    }


    &::after {
      position: absolute;
      right: -11px;
      bottom: -22px;
      z-index: -2;
      width: 6px;
      // 右側のリボン端
      content: '';
      border: 22px solid $headline-background;
      border-right-color: transparent;/* 山形に切り抜き */

      @include screen-up(md){
        right: -35px;
      }
    }

    span{
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 0 ;
      margin: 0;
      font-size: $base-font-size;
      line-height: $headline-height;
      color: #fff;
      background: $headline-background; // 真ん中の背景色
      border: 2px solid $headline-border-color;

      @include screen-up(md){
        padding: 0 ($base-margin * 2);
        font-size:$base-font-size-md;
      }

      @include screen-up(lg){
        padding: 0 ($base-margin * 4);
      }

      // &::before {
      //   position: absolute;
      //   top:20px;
      //   left: -8px;
      //   z-index: -3;
      //   width: 20px;
      //   height: 100%;
      //   content: "";
      //   background: $white;

      //   @include screen-up(md){
      //     left: -20px;
      //   }
      // }
    }

    @include screen-up(lg){
      font-size:$headline-lg-font-size;
    }
  }

  .headline2 {
    font-size: $headline2-sm-font-size;
    font-weight: $headline2-font-weight;
    color:$headline2-font-color;

    @include screen-up(lg){
      font-size: $headline2-lg-font-size;
    }
  }

  .body-text {
    margin-top: $base-margin;
  }

  .btn-box {
    margin-top:$base-margin;
    text-align: center;

    @include screen-up(md){
      text-align: left;
    }
  }

  .r_btn {
    @include SquareButtonType(){
      width: 100%;
      height: $base-margin * 3;
      color: $white;
    }

    @include screen-up(lg){
      @include SquareButtonTypePc(){
        width: auto;
      }
    }

    &.btn_answer {
      background: $answer-color;
    }
  }

  .secret-box{
    max-width: $base-margin * 45;
    margin:($base-margin * 4) auto 0;

    dl {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      margin: ($base-margin * 1.5) 0 0;

      @include screen-up(md){
        flex-direction: row;
      }
    }

    > * {
      font-weight:$font-weight-bold;
    }

    dt {
      padding:($base-margin * 0.25) $base-margin;
      margin: 0;
      color: $white;
      text-align: center;
      background:$primary-color;
      border-radius:16px;

      @include screen-up(md){
        width: $base-margin * 6;
      }
    }

    dd {
      margin: ($base-margin * 0.25) 0 0;
      text-align: left;

      @include screen-up(md){
        width: calc(100% - #{$base-margin * 8});
        margin: 0;
      }
    }
  }

  .page-link {
    margin-top: $base-margin * 2;
    text-align: left;


    dl {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      padding-top:$base-margin ;
      margin-top: $base-margin ;
      border-top: 1px solid $base-gray-300;

      &:first-of-type {
        border-top: none;
      }

      @include screen-up(md){
        padding-top:$base-margin * 2;
        margin-top: $base-margin * 2;
      }

      dt{
        margin:0;
        font-weight: $font-weight-bold;

        @include screen-up(md){
          width: $base-margin * 12;
        }
      }

      dd {
        margin:($base-margin * 0.25) 0 0;

        @include screen-up(md){
          width: calc(100% - #{$base-margin * 13});
          margin:0;
        }
      }
    }
  }
}
