@charset "UTF-8";
.headline {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  height: 45px;
  font-size: 20px;
  color: #fff;
  text-align: center;
}

.headline::before {
  position: absolute;
  bottom: -10px;
  left: -35px;
  z-index: -2;
  width: 10px;
  content: '';
  border: 20px solid #0a46c8;
  border-left-color: transparent;
}

.headline::after {
  position: absolute;
  right: -35px;
  bottom: -10px;
  z-index: -2;
  width: 10px;
  content: '';
  border: 20px solid #0a46c8;
  border-right-color: transparent;
  /* 山形に切り抜き */
}

.headline span {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  margin: 0;
  font-size: 18px;
  line-height: 45px;
  color: #fff;
  background: #0a46c8;
}

.headline span::before {
  position: absolute;
  top: 100%;
  left: 0;
  content: '';
  border: none;
  border-right: solid 15px #0a46c8;
  border-bottom: solid 10px transparent;
}

.headline span::after {
  position: absolute;
  top: 100%;
  right: 0;
  content: '';
  border: none;
  border-bottom: solid 10px transparent;
  border-left: solid 15px #0a46c8;
}

@media (min-width: 560px) {
  .headline {
    font-size: 20px;
  }
}
